    <div class="alert">  
  <a class="close" data-dismiss="alert">×</a>  
  <strong>Warning!</strong> Best check yo self, you're not looking too good.  
</div>  

    <div class="container">

      <h1><a href="”#”">Bootstrap Site sdbfjshdf</a></h1>

      <div class="hero-unit">
        <h1>Marketing stuff!</h1>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <a href="#" class="btn btn-large btn-success">Get Started</a>
      </div>

      <div class="row">

        <div class="span3">
        <p>Dummy Text</p>
        </div>

        <div class="span3">
        <p>Dummy Text</p>
        </div>

        <div class="span3">
        <p>Dummy Text</p>
        </div>

        <div class="span3">
        <p>Dummy Text</p>
        </div>

      </div>

    </div>